<h3 style="font-weight: Bold;">Node Information</h3>
<div>
  <table>
    <tr>
      <td><p style="margin-bottom: 10px;">Node title:</p></td>
      <td>
        <input type="text" matInput placeholder="input node title" [(ngModel)]="NodeInfomation.Node_Title" 
        style="border: solid black 1px; margin-bottom: 10px;">
      </td>
    </tr>
    <tr>
      <td><p style="margin-bottom: 10px;">Node type: </p></td>
      <td> 
        <mat-select [(ngModel)]="NodeInfomation.Node_Type" style="margin-bottom: 10px;" >
          <mat-option value="Folder">
            Folder
          </mat-option>
          <mat-option value="File">
            File
          </mat-option>
        </mat-select>
      </td>
    </tr>
  </table>
</div>

<!-- Popup -->
<button kendoButton #anchor style="border-radius: 5px; margin-bottom: 10px;" (click)="PopUp_Edit_Detail()">Edit Details</button>
<kendo-popup
[anchor]="anchor"
(anchorViewportLeave)="showPopup = false"
*ngIf="showPopup">
  <div class="content">
    <mat-tab-group>
      <mat-tab label="Node information">
        <table style="text-align: Center; width: 100%;">
          <tr>
            <td>
              Node Title:
            </td>
            <td>
              {{NodeInfomation.Node_Title | uppercase}}
            </td>
          </tr>
          <tr>
            <td>Node Type: </td>
            <td>{{NodeInfomation.Node_Type}}</td>
          </tr>
          <tr>
            <td>Submission Date: </td>
            <td>{{NodeInfomation.Submission_Date}}</td>
          </tr>
          <tr>
            <td>Owner: </td>
            <td>{{NodeInfomation.Owner}}</td>
          </tr>
        </table>
          
        <!-- <div>
          <label>Node Title: </label> <br>
          <input type="text" [(ngModel)]="Node_Title" readonly>
        </div>
        <div>
          <label>Node Type: </label> <br>
          <input type="text" [(ngModel)]="Node_Type" readonly>
        </div>
        <div>
          <label>Submission Date: </label> <br>
          <input type="text" [(ngModel)]="Submission_Date" readonly>
        </div>
        <div>
          <label>Owner: </label> <br>
          <input type="text" [(ngModel)]="Owner" readonly>
        </div> -->
      </mat-tab>
      <mat-tab label="Attribute list">
        <form novalidate #myForm="ngForm">
          <kendo-grid [kendoGridBinding]="AttributeInfo"
                    [pageable]="true"
                    [pageSize]="3"
                    [filterable]="true"
                    (edit)="editHandler($event)"
                    (cancel)="cancelHandler($event)"
                    (save)="saveHandler($event)"
                    (remove)="removeHandler($event)"
                    (add)="addHandler($event, myForm)"
                    >
            <ng-template kendoGridToolbarTemplate>
              <button kendoGridAddCommand>Add new</button>
            </ng-template>

            <kendo-grid-column field="Attribute_Name" title="Name">
              <ng-template kendoGridEditTemplate let-dataItem="dataItem">
                <kendo-textbox
                  [(ngModel)]="dataItem.Attribute_Name"
                  name="Attribute_Name"
                  required
                >
                </kendo-textbox>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-command-column title="#">
              <ng-template kendoGridCellTemplate>
                <button kendoGridEditCommand [primary]="true">Edit</button>
                <button kendoGridRemoveCommand>Remove</button>
                <button kendoGridSaveCommand>
                  {{ isNew ? "Add" : "Update" }}
                </button>
                <button kendoGridCancelCommand>
                  {{ isNew ? "Discard changes" : "Cancel" }}
                </button>
              </ng-template>
            </kendo-grid-command-column>
          </kendo-grid>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</kendo-popup>
  
<!-- attributes list -->
<h4>Attributes</h4>
<kendo-grid [kendoGridBinding]="AttributeInfo"
            [navigable]="true"
            [filterable]="true"
            [pageable]="true"
            [pageSize]="3"
            >
  <kendo-grid-column field="Attribute_ID" title="ID"></kendo-grid-column>
  <kendo-grid-column field="Attribute_Name" title="Name"></kendo-grid-column>
</kendo-grid>

<button kendoButton (click)="Dialog_Save()" style="float: right; margin: 20px 0px;">Save</button>
<kendo-dialog
  title="Please confirm"
  *ngIf="Confirm_Save"
  (close)="UpdateNode('cancel')"
  [minWidth]="250"
  [width]="450"
>
  <p style="margin: 30px; text-align: center;">
    Are you sure you want to save?
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="UpdateNode('cancel')">No</button>
    <button kendoButton (click)="UpdateNode('yes')" themeColor="primary">
      Yes
    </button>
  </kendo-dialog-actions>
</kendo-dialog>